h6 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #282828;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.fill_height {
    height: 100%;
}

.main_slider {
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 150px;
}
.main_slider_content {
    width: 60%;
}
.main_slider_content h6 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
}
.main_slider_content h1 {
    font-weight: 400;
    line-height: 1;
}
.red_button {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.red_button:hover {
    background: #FE7C7F !important;
}
.red_button a {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}
.shop_now_button {
    width: 140px;
    margin-top: 32px;
    border-radius: 22px;
}

/* Deal of the day*/
.deal_ofthe_week {
    width: 100%;
    margin-top: 41px;
    background: #f2f2f2;
}
.deal_ofthe_week_img {
    height: 540px;
}
.deal_ofthe_week_img img {
    height: 100%;
}
.deal_ofthe_week_content {
    height: 100%;
}
.section_title {
    display: inline-block;
    /* text-align: center; */
}
.section_title h2 {
    display: inline-block;
}
.section_title::after {
    display: block;
    position: absolute;
    top: calc(50px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 120px;
    height: 5px;
    background: #fe4c50;
    content: '';
}
.timer {
    margin-top: 66px;
}
.timer li {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 10px;
}
.timer li:last-child {
    margin-right: 0;
}
.timer_num {
    font-size: 48px;
    font-weight: 600;
    color: #fe4c50;
    margin-top: 10px;
}
.timer_unit {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #51545f;
}
.deal_ofthe_week_button {
    width: 140px;
    background: #1e1e27;
    margin-top: 52px;
}
.deal_ofthe_week_button:hover {
    background: #2b2b34 !important;
}


.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}



/*Arrive*/
.new_arrivals_sorting {
    display: inline-block;
    border-radius: 3px;
    margin-top: 59px;
    overflow: visible;
}
.grid_sorting_button {
    height: 40px;
    min-width: 102px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    border: solid 1px #ebebeb;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 0 0 0 -1px;
    float: left;
    border-radius: 22px;
}
.grid_sorting_button:first-child {
    margin-left: 0;
}

.grid_sorting_button.active:hover {
    background: #FE7C7F !important;
}
.grid_sorting_button.active {
    color: #FFFFFF;
    background: #fe4c50;
}



.product-grid {
    width: 100%;
    margin-top: 57px;
}
.product-item {
    width: 20%;
    height: 380px;
    cursor: pointer;
}

.product-item::after {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: '';
    border: solid 2px rgba(235, 235, 235, 0);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.product-item:hover::after {
    box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
    border: solid 2px rgba(235, 235, 235, 1);
}
.product {
    width: 100%;
    height: 340px;
    border-right: solid 1px #e9e9e9;
}
.product_image {
    width: 100%;
}
.product_image img {
    width: 100%;
}
.product_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_name {
    margin-top: 27px;
}
.product_name a {
    color: #1e1e27;
    line-height: 20px;
}
.product_name:hover a {
    color: #b5aec4;
}
.discount .product_info .product_price {
    font-size: 14px;
}
.product_price {
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
}
.product_price span {
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
.product_bubble {
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}
.product_bubble span {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}
.product_bubble_right::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_left::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_red::after {
    border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after {
    border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red {
    background: #fe4c50;
}
.product_bubble_green {
    background: #51a042;
}
.product_bubble_left {
    left: 15px;
}
.product_bubble_right {
    right: 15px;
}
.add_to_cart_button {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.add_to_cart_button a {
    font-size: 12px;
    font-weight: 600;
}
.product-item:hover .add_to_cart_button {
    visibility: visible;
    opacity: 1;
}
.favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b9b4c7;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}
.favorite_left {
    left: 15px;
}
.favorite.active {
    visibility: visible;
    opacity: 1;
}
.product-item:hover .favorite {
    visibility: visible;
    opacity: 1;
}
.favorite.active::after {
    font-family: 'FontAwesome';
    content: '\f004';
    color: #fe4c50;
}
.favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';
}
.favorite:hover::after {
    color: #fe4c50;
}

@media (max-width: 1199px){
    .product-item {
        height: 360px;
    }
    .product {
        height: 320px;
    }
}

@media (max-width: 991px){
    .product-item {
        width: 25%;
    }
}

@media (max-width: 767px){
    .product-item {
        width: 33.333333333333%;
        height: 345px;
    }
    .product {
        height: 305px;
    }
    .grid_sorting_button {
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 80px;
    }
    .product_slider_container {
        height: auto;
    }
    .product_slider_item .product-item {
        height: 380px;
    }
}

@media (max-width: 575px){
    .product-item {
        width: 50%;
        height: 420px;
    }
    .product {
        height: 380px;
    }
}

@media (max-width: 479px){
    .grid_sorting_button {
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        min-width: 60px;
        height: 35px;
    }
    .product-item {
        width: 100%;
        height: auto;
    }
    .product {
        height: auto;
    }
    .product_name a {
        font-size: 12px;
    }
    .add_to_cart_button {
        margin-top: 20px;
    }
}


/*Banner*/
/* 
.cms_banner {
    padding: 0; 
    display: flex;
}

@media(max-width: 430px) {
    .cms_banner img {
        width: 100%;
    }
}

#subbanner1 .bannertext {
    position: absolute;
    top: 33%;
    left: 10%;
    text-align: center;
}
#subbanner2 .bannertext {
    position: absolute;
    top: 33%;
    right: 10%;
    text-align: center;
}
.bannertext > h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
.bannertext > p {
    color: #000;
    font-size: 16px;
}
.img-responsive {
    margin: 0;
    transition: 0.6s;
}

.banner {
    overflow: hidden;
    margin: 20px 0 0;
}
.sub-hover:hover img {
    transform: scale(1.10);
    transition: 0.6s;
} */
#brand_carouse{
    padding-bottom: 30px;
}

#brand_carouse .owl-item {
    opacity: 0.5;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
}
#brand_carouse .owl-item:hover {
    opacity: 1;
    transition: color 0.3s ease 0s, border 0.3s ease 0s;
}

.brand-logo.owl-carousel .owl-buttons div {
    background-image: url("../../../assets/icons/sprite.png") no-repeat 0 0;
    font-size: 0;
    top: 40%;
    height: 43px;
    width: 43px;
}
/* .brand-logo.owl-carousel .owl-buttons .owl-prev {
    background-position: -3px -47px;
    left: -50px;
}
.brand-logo.owl-carousel .owl-buttons .owl-prev:hover {
    background-position: -3px -104px;
}
.brand-logo.owl-carousel .owl-buttons .owl-next {
    background-position: -3px -160px;

    right: -50px;
}
.brand-logo.owl-carousel .owl-buttons .owl-next:hover {
    background-position: -3px -217px;
} */

.client-title{
    font-size: 24px;
    clear: both;
    margin: 100px 0 0;
    display: inline-block;
    width: 100%;
    padding: 0;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
}

.title-subline {
    font-size: 16px;
    clear: both;
    color: #62646c;
    margin: 10px 0 60px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.brand-logo.owl-carousel .img-responsive {
    display: inline-block;
}

.owl-prev {
    background: url("../../../assets/icons/sprite.png") no-repeat scroll 0 0;
    background-position: 0 -114px;
    right: -50px;
    left: auto;
    height: 30px;
    width: 34px;
    opacity: 1;
}
.owl-next {
    /* background: url(../../../assets/icons/sprite.png) no-repeat 0 0; */
    background: url("../../../assets/icons/sprite.png") no-repeat scroll 0 0;

    background-position: 0 -114px;
    right: -50px;
    left: auto;
    height: 30px;
    width: 34px;
    opacity: 1;
}

/*Ship*/

.cms_searvice {
    margin-top: -30px;
    border-bottom: 1px solid #ccc;
    padding: 50px 0;
}
.cms-block1,
.cms-block2,
.cms-block3 {
    background: url("../../../assets/icons/cms-icon.png") no-repeat scroll 35px 4px;
    padding: 0 0 0 110px;
    transition: all ease 0.3s;
}
.cms-block1:hover,
.cms-block2:hover,
.cms-block3:hover {
    background: url("../../../assets/icons/cms-icon.png") no-repeat scroll 35px -69px;
}
.cms-block1 > h4,
.cms-block2 > h4,
.cms-block3 > h4 {
    color: #000;
    font-size: 16px;
    margin: 0 0 3px;
    font-weight: 700;
}
.cms-block1 > p,
.cms-block2 > p,
.cms-block3 > p {
    color: #a2a2a2;
    margin: 0;
    transition: all ease 0.3s;
}
.cms-block1:hover > p,
.cms-block2:hover > p,
.cms-block3:hover > p {
    color: #002776;
    margin: 0;
}
.cms-block2 {
    background-position: 45px -297px !important;
}
.cms-block2:hover {
    background-position: 45px -380px !important;
}
.cms-block3 {
    background-position: 45px -149px !important;
}
.cms-block3:hover {
    background-position: 45px -223px !important;
}

@media(max-width: 979px) {
    .cms-block1,
    .cms-block2,
    .cms-block3 {
        margin: 25px 0;
    }
}