<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="main_slider" style="background-image:url(../../../assets/images/slide-01.jpg)">
                <div class="container fill_height">
                    <div class="row align-items-center fill_height">
                        <div class="col">
                            <div class="main_slider_content">
                                <h6>Spring / Summer Collection 2017</h6>
                                <h1>Get up to 30% Off New Arrivals</h1>
                                <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="main_slider" style="background-image:url(../../../assets/images/slide-01.jpg)">
                <div class="container fill_height">
                    <div class="row align-items-center fill_height">
                        <div class="col">
                            <div class="main_slider_content">
                                <h6>Spring / Summer Collection 2017</h6>
                                <h1>Get up to 30% Off New Arrivals</h1>
                                <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="main_slider" style="background-image:url(../../../assets/images/slide-01.jpg)">
                <div class="container fill_height">
                    <div class="row align-items-center fill_height">
                        <div class="col">
                            <div class="main_slider_content">
                                <h6>Spring / Summer Collection 2017</h6>
                                <h1>Get up to 30% Off New Arrivals</h1>
                                <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!-- <div class="deal_ofthe_week">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    <img src="../../../assets/img/phong_dongian_1_4_130k.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-right deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                    <div class="section_title">
                        <h2>Deal Of The Week</h2>
                    </div>
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Day</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Hours</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Mins</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Sec</div>
                        </li>
                    </ul>
                    <div class="red_button deal_ofthe_week_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card promoting-card">

                <div class="card-body d-flex flex-row">
                    <div>
                        <h4 class="card-title font-weight-bold mb-2">Áo sơ mi nam</h4>
                        <p class="card-text"><i class="far fa-clock pr-2"></i>Sale 10%</p>
                    </div>

                </div>

                <div class="view overlay zoom">
                    <img class="card-img-top rounded-0" src="../../../assets/images/ao_somi_1_3_120k.jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <div class="title">
                        <p>360.000 VND</p>
                    </div>
                    <div class="collapse-content">
                        <div class="collapse" id="collapseContent">
                            <p class="card-text ">Recently, we added several exotic new dishes to our
                                restaurant menu. They come from countries such as Mexico, Argentina, and Spain. Come to
                                us, have some delicious wine and enjoy our juicy meals from around the world.</p>
                            <button type="button" class="btn btn-sm btn-info btn-rounded">Xem chi tiết</button>
                        </div>

                        <button type="button" class="btn btn-sm btn-primary btn-rounded collapsed" data-toggle="collapse"
                            href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Mô tả</button>
                        <i class="fa fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top"
                            title="Share this post"></i>
                        <i class="fa fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top"
                            title="I like it"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="cms_banner view overlay zoom">
                <div id="subbanner1" class="banner sub-hover ">
                    <a href="#"><img src="../../../assets/images/subbanner1.jpg" alt="Sub Banner1"
                            class="img-responsive"></a>
                    <div class="bannertext">
                        <h2>wonem online</h2>
                        <p>Shop New Season Clothing</p>
                        <button class="btn">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="cms_banner view overlay zoom">
                <div id="subbanner1" class="banner sub-hover ">
                    <a href="#"><img src="../../../assets/images/subbanner1.jpg" alt="Sub Banner1" class="img-responsive"></a>
                    <div class="bannertext">
                        <h2>wonem online</h2>
                        <p>Shop New Season Clothing</p>
                        <button class="btn">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <!-- <div class="col">
                <div class="section_title new_arrivals_title">
                    <h2>Sản phẩm</h2>
                </div>
            </div> -->
            <h3 class="client-title">Sản phẩm</h3>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked"
                            data-filter="*">all</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                            data-filter=".women">women's</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                            data-filter=".men">
                            men's</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                            data-filter=".hot">hot</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Product 1 -->

                    <div class="product-item men women">
                        <div class="product discount product_filter">
                            <div class="product_image view overlay zoom">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite favorite_left"></div>
                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                <span>-$20</span>
                            </div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">CungDS2
                                        (Silver)</a></h6>
                                <div class="product_price">$520.00<span>$590.00</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 2 -->

                    <div class="product-item women">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div
                                class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center">
                                <span>new</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD
                                        Monitor</a></h6>
                                <div class="product_price">$610.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 3 -->

                    <div class="product-item women">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout
                                        Edition</a></h6>
                                <div class="product_price">$120.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 4 -->

                    <div class="product-item hot">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div
                                class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                <span>sale</span></div>
                            <div class="favorite favorite_left"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label
                                        Printer</a></h6>
                                <div class="product_price">$410.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 5 -->

                    <div class="product-item women men">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a>
                                </h6>
                                <div class="product_price">$180.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 6 -->

                    <div class="product-item hot">
                        <div class="product discount product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite favorite_left"></div>
                            <div
                                class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                <span>-$20</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="#single.html">Fujifilm X100T 16 MP Digital Camera
                                        (Silver)</a></h6>
                                <div class="product_price">$520.00<span>$590.00</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 7 -->

                    <div class="product-item women">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD
                                        Monitor</a></h6>
                                <div class="product_price">$610.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 8 -->

                    <div class="product-item hot">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Blue Yeti USB Microphone Blackout
                                        Edition</a></h6>
                                <div class="product_price">$120.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 9 -->

                    <div class="product-item men">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div
                                class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
                                <span>sale</span></div>
                            <div class="favorite favorite_left"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">DYMO LabelWriter 450 Turbo Thermal Label
                                        Printer</a></h6>
                                <div class="product_price">$410.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>

                    <!-- Product 10 -->

                    <div class="product-item men">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a>
                                </h6>
                                <div class="product_price">$180.00</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pg-blue">
        <li class="page-item ">
            <a class="page-link" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item active">
            <a class="page-link">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item ">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>

<div class="container">
    <h3 class="client-title">Thương Hiệu Nổi tiếng</h3>
    <h4 class="title-subline">Sản phẩm chính hiệu từ các thương hiệu nổi tiếng</h4>
    <div id="brand_carouse" class="owl-carousel brand-logo">
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand1.png" alt="Disney"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand2.png" alt="Dell"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand3.png" alt="Harley"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand4.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand5.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand6.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand7.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand8.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand9.png" alt="Canon"
                    class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="../../../assets/brand/brand5.png" alt="Canon"
                    class="img-responsive" /></a> </div>
    </div>
</div>

<div class="container">
    <h3 class="client-title">Vận chuyển dễ dàng</h3>
    <h4 class="title-subline">Nhiều ưu đãi cho khách mua hàng online</h4>
    <div class="cms_searvice">
        <div class="row">
            <div class="col-md-4 ">
                <div class="cms-block1">
                    <h4>Free Shipping & Return</h4>
                    <p>All Order Over $ 338</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="cms-block3">
                    <h4>Online Support 24/7</h4>
                    <p>All Question All Time</p>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="cms-block2">
                    <h4>Online Shopping</h4>
                    <p>Save Up to 70% on Store</p>
                </div>
            </div>
        </div>
    </div>
</div>
