    <header class="header trans_300">
        <!-- Top Navigation -->
        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left"><i class="fa fa-phone"></i> <p> (+84) 359 997 423</p></div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">
                                <li class="currency">
                                    <a href="#">
                                        VND
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="currency_selection">
                                        <li><a href="#">VND</a></li>
                                        <li><a href="#">USD</a></li>
                                    </ul>
                                </li>
                                <li class="language">
                                    <a href="#">
                                        English
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="language_selection">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">VietNam</a></li>
                                    </ul>
                                </li>
                                <li class="account">
                                    <a href="#">
                                        My Account
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection">
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                        <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a [routerLink]="['/home']">SC<span>shop</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a [routerLink]="['/home']">home</a></li>
                                <li><a [routerLink]="['/product']">shop</a></li>
                                <li><a [routerLink]="['/contact']">contact</a></li>
                                <li><a [routerLink]="['/about']">about</a></li>
                            </ul>
                            <ul class="navbar_user">
                                <li><a><i class="fa fa-search js-show-modal-search" aria-hidden="true"></i></a></li>
                                <li><a [routerLink]="['/profile']"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li class="checkout js-show-cart cart-hover">
                                    <a >
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span id="checkout_items" class="checkout_items">2</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
    </header>

    <div class="fs_menu_overlay"></div>
    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="">
                        usd
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">cad</a></li>
                        <li><a href="#">aud</a></li>
                        <li><a href="#">eur</a></li>
                        <li><a href="#">gbp</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="">
                        English
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">French</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="">
                        My Account
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                    </ul>
                </li>
                <li class="menu_item"><a [routerLink]="['/home']">home</a></li>
                <li class="menu_item"><a [routerLink]="['/product']">shop</a></li>
                <li class="menu_item"><a href="#">promotion</a></li>
                <li class="menu_item"><a href="#">pages</a></li>
                <li class="menu_item"><a href="#">blog</a></li>
                <li class="menu_item"><a [routerLink]="['/contact']">contact</a></li>
            </ul>
        </div>
    </div>


    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>
    
        <div class="header-cart">
            <div class="header-cart-title ">
                <span class="your-cart">
                    Your Cart
                </span>
    
                <div class="icon-close js-hide-cart">
                    <i class="fa fa-times"></i>
                </div>
            </div>
    
            <div class="header-cart-content js-pscroll">
                <ul class="header-cart-wrapitem">
                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="IMG">
                        </div>
    
                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                White Shirt Pleat
                            </a>
    
                            <span class="header-cart-item-info">
                                1 x $19.00
                            </span>
                        </div>
                        <div class="close-item">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
    
                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="IMG">
                        </div>
    
                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name">
                                Converse All Star
                            </a>
    
                            <span class="header-cart-item-info">
                                1 x $39.00
                            </span>
                        </div>
                        <div class="close-item">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
    
                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="../../../assets/images/ao_somi_1_3_120k.jpg" alt="IMG">
                        </div>
    
                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                Nixon Porter Leather
                            </a>
    
                            <span class="header-cart-item-info">
                                1 x $17.00
                            </span>
                        </div>
                        <div class="close-item">
                            <i class="fa fa-times"></i>
                        </div>
                    </li>
                </ul>
    
                <div class="w-full total-price">
                    <div class="header-cart-total">
                        Total: $75.00
                    </div>
    
                    <div class="header-cart-buttons">
                        <button type="button" class="btn btn-md btn-info btn-rounded">View Cart</button>
                        <button type="button" class="btn btn-md btn-success btn-rounded">Check Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header js-hide-modal-search">
        <div class="container-search-header">
            <span class="flex-c-m btn-hide-modal-search js-hide-modal-search">
                <i class="fa fa-times"></i>
                <!-- <img src="images/icons/icon-close2.png" alt="CLOSE"> -->
            </span>
    
            <form class="wrap-search-header">
                <i class="fa fa-search"></i>
                <input class="plh3" type="text" name="search" placeholder="Search...">
            </form>
        </div>
    </div>