.navbar{
    box-shadow: none !important;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.trans_200 {
    transition: all 200ms ease;
}
.trans_300 {
    transition: all 300ms ease;
}
.trans_400 {
    transition: all 400ms ease;
}
.trans_500 {
    transition: all 500ms ease;
}
.fill_height {
    height: 100%;
}
.super_container {
    width: 100%;
    overflow: hidden;
}

/*********************************
3. Home
*********************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 10;
}
.top_nav {
    width: 100%;
    height: 50px;
    background: #1e1e27;
}
.top_nav_left {
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    color: #b5aec4;
    text-transform: uppercase;
}

.top_nav_left p{
    font-weight: bold;
    color: #fe4c50;
    display: inline-block;
    padding-left: 10px;
}

/*********************************
3.1 Currency
*********************************/

.currency {
    display: inline-block;
    position: relative;
    min-width: 50px;
    border-right: solid 1px #33333b;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}
.currency > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    text-transform: uppercase;
}
.currency > a > i {
    margin-left: 8px;
}
.currency:hover .currency_selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.currency_selection {
    list-style: none;
    padding: 0px;
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.currency_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.currency_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.currency_selection li a:hover {
    color: #b5aec4;
}
.currency_selection li:last-child a {
    border-bottom: none;
}

/*********************************
3.2 Language
*********************************/

.language {
    display: inline-block;
    position: relative;
    min-width: 50px;
    border-right: solid 1px #33333b;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}
.language > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}
.language > a > i {
    margin-left: 8px;
}
.language:hover .language_selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.language_selection {
    display: block;
    position: absolute;
    list-style: none;
    padding: 0px;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.language_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.language_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.language_selection li a:hover {
    color: #b5aec4;
}
.language_selection li:last-child a {
    border-bottom: none;
}

/*********************************
3.3 Account
*********************************/

.account {
    display: inline-block;
    position: relative;
    min-width: 50px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
    background: #1e1e27;
}
.account > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}
.account > a > i {
    margin-left: 8px;
}
.account:hover .account_selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.account_selection {
    display: block;
    position: absolute;
    list-style: none;
    padding: 0px;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.account_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.account_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.account_selection li a:hover {
    color: #b5aec4;
}
.account_selection li:last-child a {
    border-bottom: none;
}
.account_selection li a i {
    margin-right: 10px;
}

/*********************************
3.4 Main Navigation
*********************************/

.main_nav_container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
.navbar {
    width: auto;
    height: 100px;
    float: right;
    padding-left: 0;
    padding-right: 0;
}
.navbar_menu li {
    display: inline-block;
}
.navbar_menu li a {
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.navbar_menu li a:hover {
    color: #b5aec4;
}
.navbar_user {
    margin-left: 37px;
}
.navbar_user li {
    display: inline-block;
    text-align: center;
}
.navbar_user li a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.navbar_user li a:hover {
    color: #b5aec4;
}
.checkout a:first-child {
    background: #eceff6;
    border-radius: 50%;
}
.checkout_items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -9px;
    left: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #FFFFFF;
}

/*********************************
3.5 Hamburger Menu
*********************************/

.hamburger_container {
    display: none;
    margin-left: 40px;
}
.hamburger_container i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hamburger_container:hover i {
    color: #b5aec4;
}
.hamburger_menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hamburger_menu.active {
    right: 0;
}
.fs_menu_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.hamburger_close {
    position: absolute;
    top: 26px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}
.hamburger_close i {
    font-size: 24px;
    color: #1e1e27;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hamburger_close:hover i {
    color: #b5aec4;
}
.hamburger_menu_content {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    padding-right: 20px;
}
.menu_item {
    display: block;
    position: relative;
    border-bottom: solid 1px #b5aec4;
    vertical-align: middle;
}
.menu_item > a {
    display: block;
    color: #1e1e27;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
}
.menu_item > a:hover {
    color: #b5aec4;
}
.menu_item > a > i {
    margin-left: 8px;
}
.menu_item.active .menu_selection {
    display: block;
    visibility: visible;
    opacity: 1;
}
.menu_selection {
    margin: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}
.menu_selection li a {
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.menu_selection li a:hover {
    color: #b5aec4;
}
.menu_selection li:last-child a {
    border-bottom: none;
}

/*********************************
3.6 Logo
*********************************/

.logo_container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
}
.logo_container a {
    font-size: 24px;
    color: #1e1e27;
    font-weight: 700;
    text-transform: uppercase;
}
.logo_container a span {
    color: #fe4c50;
}

@media(max-width: 991px){
    .top_nav {
        display: none;
    }
    .navbar_menu {
        display: none;
    }
    .hamburger_container {
        display: block;
    }
}
@media (max-width: 575px){
    .hamburger_menu {
        right: -100%;
        width: 100%;
    }
}

@media (max-width: 479px){
    .logo_container a {
        font-size: 12px;
    }
    .hamburger_container {
        margin-left: 25px;
    }
    .hamburger_container i {
        font-size: 16px;
    }
    .hamburger_close {
        top: 14px;
        right: 4px;
    }
    .hamburger_close i {
        font-size: 20px;
    }
    .hamburger_menu_content {
        padding-right: 15px;
        padding-top: 70px;
    }
    .menu_item {
        border-bottom-color: rgba(181, 174, 196, 0.5);
    }
    .menu_item > a {
        font-size: 12px;
        line-height: 35px;
        height: 35px;
    }
    .menu_selection li a {
        font-size: 12px;
        line-height: 35px;
        height: 35px;
    }
    .navbar {
        height: 70px;
    }
    .navbar_user li a {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }
    .checkout_items {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}

.cart-hover {
    display: inline-block;
    position: relative;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
}

.cart-hover > a {
    display: block;
    color: #b5aec4;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    text-transform: uppercase;
}

.cart-hover:hover .cart_selection {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.cart_selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 300px;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
} 

.cart_selection li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
}

.cart_selection li a {
    border-radius: 0;
    background: none;
    display: block;
    color: #232530;
    border-bottom: solid 1px #dddddd;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.cart_selection li a:hover {
    color: #b5aec4;
}

.cart_selection li:last-child a {
    border-bottom: none;
} 



/*header cart*/
.wrap-header-cart {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    transition: all 0.4s;
}

.header-cart {
    position: fixed;
    z-index: 1100;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;
    transition: all 0.4s;
    display: flex;
    padding-left: 30px;
    padding-right: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.header-cart::after {
    content: "";
    display: block;
    width: 100%;
    height: 9%;
    min-height: 30px;
}

.show-header-cart {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-header-cart .header-cart {
    right: 0;
}

/*---------------------------------------------*/
.header-cart-title {
    width: 100%;
    max-width: 100%;
    height: 16.5%;
    min-height: 85px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 8px;
}

.your-cart{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.333333;
    text-transform: uppercase;
    color: #333;
}

.icon-close{
    cursor: pointer;
    line-height: 1.0;
    font-size: 30px;
    color: #333;
}

.header-cart-content {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    align-content: space-between;
    position: relative;
    display: flex;
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
}

.header-cart-wrapitem {
    flex-grow: 1;
    width: 100%;    
    margin: 0px;
    list-style-type: none;
}

.header-cart-item{
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 12px;
    list-style-type: none;
    position: relative;
}

.close-item{
    position: absolute;
    right: 40px;
    top: 31%;
    color: red;
}
/*---------------------------------------------*/
.header-cart-item-img {
    width: 60px;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.header-cart-item-img img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

.header-cart-item-img:hover:after {
    opacity: 1;
}

/*---------------------------------------------*/
.header-cart-item-txt {
    width: calc(100% - 80px);
    padding-top: 8px;
}

.header-cart-item-name {
    display: block;
    font-size: 14px;
    color: #555;
    line-height: 1.3;
    transition: all 0.4s;
    margin-bottom: 18px;
        touch-action: manipulation;
}

.header-cart-item-info {
    display: block;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

.header-cart-total {
    font-size: 18px;
    color: #222;
    line-height: 1.3;
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: bold;

}

.s-full{
    width: 100%; 
    height: 100%;
}

.w-full {
    width: 100%;
}

.total-price{
    position: absolute;
    bottom: 20px;
}

.header-cart-buttons button{
    border-radius: 22px;
}

/*---------------------------------------------*/
@media(max-width: 575px) {
    .header-cart {
        padding: 30px;
    }

    .header-cart-title {
        padding-bottom: 35px;
    }
}


.modal-search-header {
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    bottom: 101%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px 15px 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
}

.show-modal-search {
    bottom: 0;
}

.container-search-header {
    width: auto;
    max-width: 100%;
    position: relative;
}

/*---------------------------------------------*/
.btn-hide-modal-search {
    position: absolute;
    padding: 5px;
    right: 0;
    top: -60px;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
}

.btn-hide-modal-search:hover {
    opacity: 1;
}

.wrap-search-header {
    width: 960px;
    max-width: 100%;
    height: 75px;
    border: 2px solid #e6e6e6;
    background: #fff;
    flex-wrap: wrap;
    display: flex;
    padding-left: 15px;
}

/*---------------------------------------------*/
.wrap-search-header i{
    position: absolute;
    top: 25%;
    left: 30px;
    font-size: 30px;
}
.wrap-search-header input {
    font-size: 30px;
    line-height: 1.2;
    color: #333;
    padding: 0 30px 0 60px;
    width: calc(100% - 70px);
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.wrap-search-header button {
    font-size: 50px;
    color: #333;
    width: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s
}

.wrap-search-header button:hover {
    color: #6c7ae0;
}

/*---------------------------------------------*/
@media(max-width: 767px) {
    .wrap-search-header input,
    .wrap-search-header button {
        font-size: 30px;
    }

    .wrap-search-header {
        height: 90px;
    }
}

@media(max-width: 575px) {
    .wrap-search-header input,
    .wrap-search-header button {
        font-size: 20px;
    }

    .wrap-search-header button {
        width: 40px;
    }

    .wrap-search-header {
        height: 80px;
    }
}
