<div style="padding-top: 150px;"></div>
<section class="page-404">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-title">
                    <h2>404</h2>
                    <span>Sorry! Page Not Found</span>
                    <p>Sorry this content has been moved Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, amet
                        perferendis, nemo facere excepturi quis.</p>
                    <button type="button" class="red_button"><a [routerLink]="[ '/home']">Go to Homepage</a></button>
                </div>
            </div>
        </div>
    </div>
</section>