.page-404{
    width: 100%;
    margin-bottom: 30px;
}

.error-title{
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 100px 100px 130px;
    text-align: center;
    border: 5px solid #ff6666;
}

.error-title h2{
    display: inline-block;
    font-size: 150px;
    line-height: 150px;
    margin-bottom: 30px;
    text-shadow: 0 2px 2px #ddd;
    border-bottom: 3px solid #ff6666;
    color: #ff6666;
    font-weight: bold;
}

.error-title span{
color: #000;
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #ddd;
    text-align: center;
}

.error-title p{
    font-size: 18px;
} 

.red_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    transition: all 0.3s ease;
    border-radius: 22px;
    width: 160px;
    margin-left: 19px;
    font-size: 12px !important;
    outline: none;
    border: none;
}
.red_button:hover {
    background: #FE7C7F !important;
}
.red_button a {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}