<div style="padding-top: 150px;"></div>
<div class="container">
    <div class="row">
        <div class="offset-1 col-9 user-content">
            <div class="my-account-section">
                <div class="my-account-header">
                    <div class="my-account-header-left">
                        <div class="my-account-header-title">
                            Hồ sơ của tôi
                        </div>
                        <div class="my-account-header-subtitle">
                            Quản lý thông tin để bảo mật tài khoản
                        </div>
                    </div>
                </div>
                <div class="my-account-profile">
                    <div class="col-12 col-md-8 my-account-profile-left">
                        <div class="md-form form-group">
                            <input type="text" id="userName" name="userName" formControlName="userName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                            <label for="userName">User Name</label>
                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">UserName is required</div>
                            </div>
                        </div>
                        <div class="md-form form-group">
                            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <label for="email">Email</label>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="md-form">
                            <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                            <label for="phone">Phone</label>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone is required</div>
                                <div *ngIf="f.phone.errors.pattern">Phone is not valid. Ex: 0359997423</div>
                            </div>
                        </div>
                        <div class="md-form form-group">
                            <select class="mdb-select form-control gender" name="gender" formControlName="gender"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                <option value="" disabled selected>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                <div *ngIf="f.gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                        <div class="md-form form-group">
                            <input type="text" id="dob " name="dob" class="form-control datepicker" formControlName="dob"
                                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                            <label for="dob">Date of birth</label>
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                            </div>
                        </div>
                        <button class="btn red_button">Lưu</button>
                    </div>
                    <div class="col-12 col-md-4 my-account-profile-right">
                        <div class="avatar-upload">
                            <div class="avatar-upload-avatar">
                                <div class="avatar mx-auto">
                                    <img (click)="file.click()" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
                                        alt="Sample avatar">
                                </div>
                                <input #file type="file" accept=".jpg, .jpeg, .png" class="avatar-upload-file">
                            </div>
                            <button (click)="file.click()" class="btn red_button">Chọn ảnh</button>
                            <div class="avatar-upload-text">
                                Định dạng: JPG, JPEG, PNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="user">
    <h1>Profile</h1>
    <h2 class="page-header"> {{user.username}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Email: {{user.email}}</li>
    </ul>
</div>