.user-content{
    padding-bottom: 30px;
    background-color: #fff;
    margin-top: 20px;
}

.my-account-section{
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    flex-direction: column;
    padding: 0 30px 20px;
    background: #fff;
    margin-bottom: 15px;
    overflow: visible;
}

.my-account-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    box-sizing: border-box;
}

.my-account-header-title{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5rem;
    color: #333;
    text-transform: capitalize;
}

.my-account-header-subtitle{
    font-size: 15px;
    line-height: 1.5rem;
    color: #333;
    text-transform: capitalize;
}

.my-account-profile{
    display : flex;
    align-items: flex-start;
    padding-top: 30px;
}

.my-account-profile-left{
    flex: 1;
    padding-right: 50px;
}

.my-account-profile-right{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-left: 1px solid #efefef;
}

.avatar-upload{
    display: flex;
    flex-direction: column;
}

.avatar-upload-avatar{
    height: 100px;
    width: 100px;
    margin: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.avatar-upload-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.avatar-upload-avatar input{
    display: none;
}

.red_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 22px;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
}

.avatar-upload-text{
    margin-top: 12px;
    display: block;
    color: #999;
}

.gender{
    border: none;
    border-bottom: 1px solid #ced4da;
    font-weight: unset;
}