<section style="padding-top: 150px;">
    <div class="container">
        <div class="formBox">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Login</h1>
                            
                        <div class="md-form form-group">
                            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <label for="email">Email</label>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>

                        <div class="md-form form-group">
                            <input [type]="showPass ? 'text' : 'password'" id="password" name="password"
                                formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <span [class]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"
                                style="position: absolute; top: 10px; right: 30px;"></span>
                            <label for="password">Password</label>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.password">Password must be a valid password</div>
                            </div>
                        </div>

                        <div *ngIf="isLogin" class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Oh!</strong> {{notification}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="d-flex justify-content-around">
                            <div>
                                <!-- Remember me -->
                                <div class="form-check">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                            id="defaultLoginFormRemember">
                                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember
                                            me</label>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- Forgot password -->
                                <a href="">Forgot password?</a>
                            </div>
                        </div>

                        <div class="btn-login">
                            <button class="btn btn-info btn-block blue-gradient waves-effect"
                                type="submit">Login</button>
                        </div>
                        <div class="text-center">
                            <p>Not a member?
                                <a [routerLink]="[ '/register']">Register</a>
                            </p>
                            <!-- Social login -->
                            <p>or sign in with:</p>
                            <div class="social-button shape-circle sb-facebook sb-light-skin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>