.formBox {
  margin: 50px 0px;
  padding: 20px;
}
h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px !important;
  font-size: 30px;
  color: #fff;
  background-color: #33b5e5;
}

.btn-login {
  margin: 20px 0px;
}

.social-button {
  position: absolute;
  left: 26%;
}

.social-button a {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  margin-bottom: 10px;
  border: 1px solid #e1e7ec;
  line-height: 35px;
  text-align: center;
  transition: color 0.3s;
  color: #606975;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.social-button a :hover {
  transform: scale(1.3);
}

.social-button ul li a .fa {
  color: #000;
}

.sb-light-skin a {
  transition: all 0.3s;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6) !important;
}

.social-button ul {
  display: flex;
}
.social-button ul li {
  list-style: none;
}

.social-button ul li:nth-child(1) a:hover .fa {
  color: #00aced;
}

.social-button ul li:nth-child(2) a:hover .fa {
  color: #dd4b39;
}

.social-button ul li:nth-child(3) a:hover .fa {
  color: #0084b4;
}

.social-button ul li:nth-child(4) a:hover .fa {
  color: #bc2a8d;
}
