<div style="padding-top: 170px;"></div>
<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7">
                <div>
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                            </tr>

                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="../../../assets/img/giay_untra_1_2_800k.jpg" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">Fresh Strawberries</td>
                                <td class="column-3">$ 36.00</td>
                                <td class="column-4">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                    <div class="quantity_selector">
                                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                        <span id="quantity_value">1</span>
                                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                    </div>
                                </td>
                                <td class="column-5">$ 36.00</td>
                            </tr>

                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="../../../assets/img/ao_phaobeo_1_1_350k.jpg" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">Lightweight Jacket</td>
                                <td class="column-3">$ 16.00</td>
                                <td class="column-4">
                                    <div class="wrap-num-product">
                                        <div class="quantity_selector">
                                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                            <span id="quantity_value">1</span>
                                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="column-5">$ 16.00</td>
                            </tr>
                        </table>
                    </div>

                    <div class="coupon">
                        <div class="coupon-code">
                            <input type="text"
                                name="coupon" placeholder="Coupon Code">
                            <button type="button">Apply coupon</button>
                        </div>
                        <button type="button">Update Cart</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 cart-price">
                <div class="cart-content">
                    <h4 class="cart-title">
                        Cart Totals
                    </h4>

                    <div class="sub-total">
                        <div class="sub-total-space">
                            <span class="sub-total-title">
                                Subtotal:
                            </span>
                        </div>

                        <div class="price-total-space">
                            <span class="price-total">
                                $79.65
                            </span>
                        </div>
                    </div>

                    <div class="shipping">
                        <div class="sub-total-space">
                            <span class="shipping-title">
                                Shipping:
                            </span>
                        </div>

                        <div class="price-total-space">
                            <p class="shipping-content">
                                There are no shipping methods available. Please double check your address, or contact us
                                if you need any help.
                            </p>

                            <div class="calculate">
                                <span class="calculate-title">
                                    Calculate Shipping
                                </span>

                                <div class="ship-address">
                                    <input type="text" name="address" placeholder="Address">
                                </div>

                                <div class="ship-phone">
                                    <input type="text" name="state" placeholder="Phone">
                                </div>

                                <div class="ship-email">
                                    <input type="text" name="postcode" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="total-cart">
                        <div class="total-cart-title">
                            <span class="total-cart-text">
                                Total:
                            </span>
                        </div>

                        <div class="total-cart-price">
                            <span class="total-cart-price-text">
                                $79.65
                            </span>
                        </div>
                    </div>

                    <button class="btn-checkout">
                        Proceed to Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
