/* .container{
    width: 1380px;
} */
/*[Table Shopping Cart ]*/ 
.wrap-table-shopping-cart {
    overflow: auto;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}

.table-shopping-cart {
    border-collapse: collapse;
    width: 100%;
    min-width: 680px;
}

.table-shopping-cart tr {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .column-1 {
    width: 133px;
    padding-left: 50px;
}

.table-shopping-cart .column-2 {
    width: 220px;
    font-size: 15px;
}

.table-shopping-cart .column-3 {
    width: 120px;
    font-size: 16px;
}

.table-shopping-cart .column-4 {
    width: 145px;
    text-align: right;
}

.table-shopping-cart .column-5 {
    width: 172px;
    padding-right: 50px;
    text-align: right;
    font-size: 16px;
}

.table-shopping-cart .table_row {
    height: 185px;
}

.table-shopping-cart .table_row td {
    padding-bottom: 20px;
}

.table-shopping-cart .table_row td.column-1 {
    padding-bottom: 30px;
}

.table-shopping-cart .table_head th {
    font-size: 13px;
    color: #555;
    text-transform: uppercase;
    line-height: 1.6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table-shopping-cart td {
    color: #555;
    line-height: 1.6;
}

.how-itemcart1 img {
    width: 100%;
}


/*[Num Product ]*/ 
.wrap-num-product {
    width: 140px;
    height: 45px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.quantity_selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid 1px #e5e5e5;
}

.quantity_selector span {
    font-weight: 500;
    color: #232530;
}

.plus,
.minus {
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
}

.plus:hover,
.minus:hover {
    color: #b5aec4;
}

.column-2{
    padding-left: 15px;
}

.coupon{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 18px;
}

.coupon button{
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    background-color: #f3f3f3;
    min-width: 163px;
    height: 45px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    transition : all 0.4 s;
    cursor : pointer;
    margin: 5px 0px;
    padding: 0px 5px;
}

.coupon-code{
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.coupon-code input{
    border: 1px solid #e6e6e6;
    border-radius: 22px;
    width: 220px;
    height: 45px;
    font-size: 14px;
    line-height: 1.466667;
    color: #333;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    outline: none;
}

.cart-price{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.cart-content{
    border: 1px solid #e6e6e6;
    margin-right: 40px;
    margin-left: 63px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.cart-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    color: #333;
    padding-bottom: 30px;
}

.sub-total{
    border-bottom: 1px dashed #d9d9d9;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 13px;
    color: #333;
    font-weight: bold;
}
.sub-total-space {
    width: 34.5%;
}


.sub-total-title{
    font-size: 15px;
    line-height: 1.466667;
}

.price-total-space {
    width: 65.5%;
}

.price-total{
    font-size: 18px;
    line-height: 1.222222;
}

.shipping {
    border-bottom: 1px dashed #d9d9d9;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 13px;
    color: #333;
    margin-top: 10px;
}

.shipping-title{
    font-size: 15px;
    font-weight: bold;
}

.shipping-content{
    font-size: 14px;
    line-height: 1.6923;
}

.calculate{
    padding-top: 10px;
}

.calculate-title{
    font-weight: bold;
}

.ship-address input, .ship-phone input, .ship-email input{
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    font-size: 13px;
    line-height: 1.6923;
    margin: 10px 0px;
}

.total-cart{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 33px;
    padding-top: 27px;
    font-weight: bold;
}

.total-cart-title{
    width: 34.5%;
}

.total-cart-text{
    font-size: 18px;
    line-height: 1.333333;
    color: #333;
}

.total-cart-price{
    width: 65.5%;
}

.total-cart-price-text{
    font-size: 18px;
    line-height: 1.222222;
    color: #333;
}

.btn-checkout{
    border-radius: 25px;
    width: 100%;
    height: 50px;
    background-color: #222;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;   
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    outline: none;
    border: none;
}

@media (max-width: 1199px){
    .cart-price{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    }

    .cart-content{
        margin-top: 10px;
        margin-left: 0px;
    }
}