<div style="padding-top: 150px;"></div>
<!-- Title page -->
<section class="contact-background" style="background-image: url('../../../assets/images/bg-01.jpg');">
    <h2 class="contact-title">
        Contact
    </h2>
</section>


<!-- Content page -->
<section class="contact-content">
    <div class="container">
        <div class="flex-content">
            <div class="col-12 col-sm-12 col-md-6 form-messenger">
                <form>
                    <h4 class="messenger-title">
                        Send Us A Message
                    </h4>

                    <div class="messenger-email">
                        <input type="text" name="email"
                            placeholder="Your Email Address">
                        <img src="../../../assets/icons/icon-email.png" alt="ICON">
                    </div>

                    <div class="messenger-help">
                        <textarea name="msg" placeholder="How Can We Help?"></textarea>
                    </div>

                    <button class="btn-submit">
                        Submit
                    </button>
                </form>
            </div>

            <div class="col-12 col-sm-12 col-md-6 contact-info">
                <div class="info-content">
                    <span class="info-icon">
                        <i class="fa fa-map-marker"></i>
                    </span>

                    <div class="info-title">
                        <span>
                            Address
                        </span>

                        <p>
                            SC Shop center Ngoc My, Quoc Oai, Ha Noi
                        </p>
                    </div>
                </div>

                <div class="info-content">
                    <span class="info-icon">
                        <i class="fa fa-phone"></i>
                    </span>

                    <div class="info-title">
                        <span>
                            Lets Talk
                        </span>

                        <p>
                            +84 359 997 423
                        </p>
                    </div>
                </div>

                <div class="info-content">
                    <span class="info-icon">
                        <i class="fa fa-envelope-open"></i>
                    </span>

                    <div class="info-title">
                        <span>
                            Sale Support
                        </span>

                        <p>
                            contact@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map -->
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.0989679386894!2d105.6277925153318!3d20.98866959452074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313450fa0f28f2eb%3A0xc75ec13b3e0a3df5!2zVHLGsOG7nW5nIFRIQ1MgTmfhu41jIE3hu7k!5e0!3m2!1svi!2s!4v1572772720253!5m2!1svi!2s"
        frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>  