.contact-background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 90px 15px;
}

.contact-title{
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.contact-content{
    background-color: #fff;
    padding-bottom: 116px;
    padding-top: 104px;
}

.flex-content{
    flex-wrap: wrap;   
    display : flex;
}

.form-messenger{
    border: 1px solid #e6e6e6;
        width: 50%;
        padding: 55px 70px 70px 70px;

}

.messenger-title{
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
}

.messenger-email{
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 20px;
}

.messenger-email input{
    width: 100%;
    height: 50px;
    font-size: 13px;
    line-height: 1.6923;
    color: #333;
    padding-right: 30px;
    padding-left: 62px;
    display: block;
    outline: none;
    border: none;
}

.messenger-email img{
    position: absolute;
    top: calc(50% - 9px);
    left: 28px;
    pointer-events: none;
    vertical-align: middle;
    border-style: none;
}

.messenger-help{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 30px;
}

.messenger-help textarea{
    width: 100%;
    min-height: 199px;
    font-size: 13px;
    line-height: 1.6923;
    color: #333;
    padding: 25px 28px 25px 28px;
    outline: none;
    border: none;
}

.btn-submit{
    border-radius: 23px;
    background-color: #222;
    width: 100%;
    height: 46px;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s;
    cursor: pointer;
    padding: 0px 15px;
    outline: none;
    border: none;
}

.contact-info{
    border: 1px solid #e6e6e6;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 30px 93px;
}

.info-content{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 42px;
}

.info-icon{
    width: 60px;
    color: #222;
    text-align: center;
    font-size: 18px;
}

.info-title{
    width: calc(100% - 60px);
    padding-top: 2px;
}

.info-title span{
    font-size: 18px;
    line-height: 1.222222;
    color: #333;
    font-weight: bold;
}

.info-title p{
    max-width: 245px;
    font-size: 15px;
    line-height: 1.666667;
    color: #888;
    padding-top: 18px;
}

.map iframe{
    width: 100%;
    height: 400px;
    padding-bottom: 30px;
}