.about-background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 90px 15px;
}

.about-title{
    font-size: 50px;
    line-height: 1.1;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.about-content{
    background-color: #fff;
    padding-bottom: 116px;
    padding-top: 104px;
}

.about-story{
    padding-right: 85px;
        padding-top: 7px;
}

.about-title-content{
    font-size: 25px;
    line-height: 1.2;
    color: #333;
    padding-bottom: 16px;
    font-weight: bold;
}

.about-text{
    font-size: 14px;
    line-height: 1.7857;
    color: #888;
    padding-bottom: 26px;
}

.about-img{
    margin-left: auto;
    margin-right: auto;
}

.how-bor1{
    position: relative;
    z-index: 1;
}

.how-bor1::before{
    bottom: -21px;
    left: -21px;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
}

.hov-img0{
    display: block;
    overflow: hidden;
}

.hov-img0 img{
    width: 100%;
    transition: 0.9s ease;
    vertical-align: middle;
    border-style: none;
}

.story-2{
    padding-bottom: 30px;
}

.about-story-2{
    padding-left: 85px;
    padding-top: 7px;
}

.how-bor2{
    position: relative;
    z-index: 1;
}

.how-bor2::before{
    bottom: -21px;
    right: -21px;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 3px solid #ccc;
}

.about-talk{
    border-left: 3px solid #e6e6e6;
    margin-top: 22px;
    padding: 0px 0px 30px 30px;
}

.talk-text{
    font-size: 15px;
    line-height: 1.666667;
    color: #888;
    padding-right: 40px;
    padding-bottom: 11px;
}

.talk-person{
    font-size: 13px;
    line-height: 1.6923;
    color: #555;
    font-weight: bold;
}