<div style="padding-top: 150px;"></div>
<!-- Title page -->
<section class="about-background" style="background-image: url('../../../assets/images/bg-01.jpg');">
    <h2 class="about-title">
        About
    </h2>
</section>


<!-- Content page -->
<section class="about-content">
    <div class="container">
        <div class="row" style="padding-bottom: 150px;">
            <div class="col-md-7 col-lg-8">
                <div class="about-story">
                    <h3 class="about-title-content">
                        Our Story
                    </h3>

                    <p class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non
                        auctor massa ultrices non. Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt
                        augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi
                        tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu
                        egestas convallis. Nullam eu erat bibendum, tempus ipsum eget, dictum enim. Donec non neque ut
                        enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec
                        condimentum euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.
                    </p>

                    <p class="about-text">
                        Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam
                        aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci
                        ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus
                        sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt
                        erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et
                        maximus enim ligula ac ligula.
                    </p>

                    <p class="about-text">
                        Any questions? Let us know in store at Ngoc My, Quoc Oai, Ha Noi or call us
                        on (+84) 359 997 423
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 about-img">
                <div class="how-bor1">
                    <div class="hov-img0 view overlay zoom">
                        <img src="../../../assets/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 story-2">
                <div class="about-story-2">
                    <h3 class="about-title-content">
                        Our Mission
                    </h3>

                    <p class="about-text">
                        Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed
                        consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                        turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida.
                        Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit
                        egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor
                        ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae
                        mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus
                        maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
                    </p>

                    <div class="about-talk">
                        <p class="talk-text">
                            Creativity is just connecting things. When you ask creative people how they did something,
                            they feel a little guilty because they didn't really do it, they just saw something. It
                            seemed obvious to them after a while.
                        </p>

                        <span class="talk-person">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 about-img">
                <div class="how-bor2">
                    <div class="hov-img0 view overlay zoom">
                        <img src="../../../assets/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>