.formBox {
  margin: 50px 0px;
  padding: 20px;
}
h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px !important;
  font-size: 30px;
  color: #fff;
  background-color: #33b5e5;
}

