<section style="padding-top: 150px;">
    <div class="container">
        <div class="formBox">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>No Account? Register</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <input type="text" id="userName" name="userName" formControlName="userName"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                            <label for="userName">User Name</label>
                            <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                <div *ngIf="f.userName.errors.required">UserName is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <label for="email">Email</label>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <input [type]="showPass ? 'text' : 'password'" id="password" name="password"
                                formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <span [class]="showEye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"
                                style="position: absolute; top: 10px; right: 30px;"></span>
                            <label for="password">Password</label>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.password">Password must be a valid password</div>
                                <div *ngIf="f.password.errors">Password is not valid. Ex: x2z@dG132</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <input [type]="showConfirmPass ? 'text' : 'password'" id="confirmPassword" name="confirmPassword"
                                formControlName="confirmPassword" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors}">
                            <span [class]="showEyeConfirm ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showConfirmPassword()"
                                style="position: absolute; top: 10px; right: 30px;"></span>
                            <label for="confirmPassword">Confirm Password</label>
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Password & Confirm Password does not
                                    match</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <select class="mdb-select form-control" name="gender" formControlName="gender"
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                <option value="" disabled selected>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                <div *ngIf="f.gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="md-form form-group">
                            <input type="text" id="dob " name="dob" value="yyyy/mm/dd" class="form-control datepicker"
                                formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                            <label for="dob">Date of birth</label>
                            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                <div *ngIf="f.dob.errors.required">Date of birth is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <div class="md-form">
                            <input type="text" id="address" name="address" formControlName="address"
                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                            <label for="adddress">Address</label>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 form-group">
                        <div class="md-form">
                            <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                            <label for="phone">Phone</label>
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone is required</div>
                                <div *ngIf="f.phone.errors.pattern">Phone is not valid. Ex: 0359997423</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-auto p-2">
                        <button class="btn btn-info btn-block blue-gradient waves-effect" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>