/*********************************
4. Products
*********************************/
ul
{
	list-style: none;
	margin-bottom: 0px;
}

.products_iso {
    width: 100%;
}
.section_title {
    display: inline-block;
    text-align: center;
}
.section_title h2 {
    display: inline-block;
}
.section_title::after {
    display: block;
    position: absolute;
    top: calc(100% + 13px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
    height: 5px;
    background: #fe4c50;
    content: '';
}

/*********************************
4.1 Product Sorting
*********************************/

.product_sorting_container_bottom {
    margin-top: 24px;
}
.product_sorting_container_bottom .product_sorting {
    float: right;
}
.product_sorting {
    display: inline-block;
}
.product_sorting > li {
    display: inline-block;
    position: relative;
    width: 185px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: solid 1px #ecedee;
    padding-left: 20px;
    padding-right: 7px;
    margin-right: 16px;
}
.product_sorting_container_bottom .product_sorting > li {
    width: 144px;
    margin-right: 0;
    padding-right: 12px;
}
.product_sorting_container_bottom .product_sorting li span:nth-child(2) {
    margin-left: 24px;
}
.product_sorting li i {
    float: right;
    line-height: 40px;
    color: #51545f;
}
.product_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.product_sorting > li:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}
.product_sorting li ul li {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_sorting li ul li span {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dddddd;
    color: #51545f;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.product_sorting li ul li span:hover {
    color: #b5aec4;
}
.product_sorting li ul li:last-child span {
    border-bottom: none;
}
.product_sorting li span:nth-child(2) {
    margin-left: 71px;
}
.pages {
    display: inline-block;
    float: right;
}
.product_sorting_container_bottom .pages {
    float: left;
}
.page_current {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #ecedee;
    margin-right: 16px;
}
.product_sorting_container_bottom .pages .page_current {
    background: #fe4c50;
    border: none;
}
.page_current span {
    color: #51545f;
}
.product_sorting_container_bottom .pages .page_current span {
    color: #FFFFFF;
}
.page_selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_selection li {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.page_selection li a {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dddddd;
    color: #51545f;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_selection li a:hover {
    color: #b5aec4;
}
.page_current:hover .page_selection {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}
.page_total {
    display: inline-block;
    line-height: 40px;
    margin-right: 31px;
}
.page_total span {
    margin-right: 14px;
}
.page_next {
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
.page_next:hover i {
    color: #b5aec4;
}
.page_next i {
    font-size: 18px;
    color: #51545f;
}
.showing_results {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 34px;
}
.sorting_num, .sorting_type, .page_selection{
    padding: 0px;
}

/*********************************
5. Breadcrumbs
*********************************/

.breadcrumbs {
    width: 100%;
    height: 60px;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 58px;
}
.breadcrumbs ul li {
    display: inline-block;
    margin-right: 17px;
}
.breadcrumbs ul li.active a {
    color: #b9b4c7;
}
.breadcrumbs ul li i {
    margin-right: 17px;
}
.breadcrumbs ul li a {
    color: #51545f;
}

/*********************************
6. Sidebar
*********************************/

.product_section_container {
    margin-top: 150px;
}
.sidebar {
    float: left;
    width: 200px;
    padding-right: 17px;
}
.sidebar_section {
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom: solid 1px #ebebeb;
}
.sidebar_title h5 {
    font-size: 18px;
    margin-bottom: 21px;
}
.sidebar_categories li.active a {
    color: #fe4c50;
}
.sidebar_categories li.active:hover a {
    color: #fe4c50;
}
.sidebar_categories li a {
    font-size: 14px;
    line-height: 40px;
    color: #51545f;
}
.sidebar_categories li a:hover {
    color: #b5aec4;
}
.sidebar_categories li a span {
    margin-right: 5px;
}
#slider-range {
    margin-left: 7px !important;
}
#amount {
    margin-top: 8px;
    color: #1e1e27 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.filter_button {
    width: 100%;
    height: 30px;
    background: #1e1e27;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.filter_button:hover {
    background: #34343f;
}
.filter_button span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    color: #FFFFFF;
}
.checkboxes li {
    height: 40px;
    line-height: 40px;
}
.checkboxes li.active i {
    color: #fe4c50;
    margin-right: 21px;
}
.checkboxes li.active i::after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    font-family: 'FontAwesome';
    font-size: 10px;
    content: '\f00c';
    color: #FFFFFF;
}
.checkboxes {
    height: 200px;
    overflow: hidden;
}
.checkboxes.active {
    height: auto;
}
.checkboxes li i {
    position: relative;
    color: #b3b7c8;
    cursor: pointer;
    margin-right: 22px;
}
.checkboxes li span {
    font-family: 'Poppins', sans-serif;
    color: #51545f;
}
.show_more {
    display: inline-block;
    cursor: pointer;
}
.show_more span {
    height: 40px;
    line-height: 40px;
    color: #fe4c50;
}
.show_more span:first-child {
    margin-right: 11px;
}

/*********************************
7. Main Content
*********************************/

.main_content {
    float: left;
    width: calc(100% - 200px);
    padding-left: 34px;
}

.product-grid {
    width: 100%;
    margin-top: 57px;
}
.product-item {
    width: 25%;
    height: 380px;
    cursor: pointer;
}
.product-item::after {
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 1px);
    height: 100%;
    pointer-events: none;
    content: '';
    border: solid 2px rgba(235, 235, 235, 0);
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-item:hover::after {
    box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
    border: solid 2px rgba(235, 235, 235, 1);
}
.product {
    width: 100%;
    height: 340px;
    border-right: solid 1px #e9e9e9;
}
.product_image {
    width: 100%;
}
.product_image img {
    width: 100%;
}
.product_info {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_name {
    margin-top: 27px;
}
.product_name a {
    color: #1e1e27;
    line-height: 20px;
}
.product_name:hover a {
    color: #b5aec4;
}
.discount .product_info .product_price {
    font-size: 14px;
}
.product_price {
    font-size: 16px;
    color: #fe4c50;
    font-weight: 600;
}
.product_price span {
    font-size: 12px;
    margin-left: 10px;
    color: #b5aec4;
    text-decoration: line-through;
}
.product_bubble {
    position: absolute;
    top: 15px;
    width: 50px;
    height: 22px;
    border-radius: 3px;
    text-transform: uppercase;
}
.product_bubble span {
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}
.product_bubble_right::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 6px;
    right: auto;
    top: auto;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_left::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 6px;
    bottom: -6px;
    border: 6px solid;
}
.product_bubble_red::after {
    border-color: transparent transparent transparent #fe4c50;
}
.product_bubble_left::after {
    border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red {
    background: #fe4c50;
}
.product_bubble_green {
    background: #51a042;
}
.product_bubble_left {
    left: 15px;
}
.product_bubble_right {
    right: 15px;
}
.red_button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.red_button:hover {
    background: #FE7C7F !important;
}
.red_button a {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.add_to_cart_button {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.add_to_cart_button a {
    font-size: 12px;
    font-weight: 600;
}
.product-item:hover .add_to_cart_button {
    visibility: visible;
    opacity: 1;
}

.favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b9b4c7;
    width: 17px;
    height: 17px;
    visibility: hidden;
    opacity: 0;
}
.favorite_left {
    left: 15px;
}
.favorite.active {
    visibility: visible;
    opacity: 1;
}
.product-item:hover .favorite {
    visibility: visible;
    opacity: 1;
}
.favorite.active::after {
    font-family: 'FontAwesome';
    content: '\f004';
    color: #fe4c50;
}
.favorite::after {
    font-family: 'FontAwesome';
    content: '\f08a';
}
.favorite:hover::after {
    color: #fe4c50;
}

/*********************************
8. Benefit
*********************************/

.benefit {
    margin-top: 74px;
    margin-bottom: 30px;
}
.benefit_row {
    padding-left: 15px;
    padding-right: 15px;
}
.benefit_col {
    padding-left: 0;
    padding-right: 0;
}
.benefit_item {
    height: 100px;
    background: #f3f3f3;
    border-right: solid 1px #FFFFFF;
    padding-left: 25px;
}
.benefit_col:last-child .benefit_item {
    border-right: none;
}
.benefit_icon i {
    font-size: 30px;
    color: #fe4c50;
}
.benefit_content {
    padding-left: 22px;
}
.benefit_content h6 {
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 0;
}
.benefit_content p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    color: #51545f;
}

@media (max-width: 1199px) {
    .product-item {
        height: 360px;
    }
    .product {
        height: 320px;
    }
}

@media (max-width: 991px){
    .product_section_container {
        margin-top: 100px;
    }
    .sidebar {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    .filter_button {
        width: 150px;
    }
    .main_content {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    .grid-item {
        width: 25%;
    }
    .product-item {
        width: 33.33333333%;
    }
    .benefit_col {
        margin-bottom: 30px;
    }
    .benefit_col:last-child {
        margin-bottom: 0;
    }
}

@media only screen and(max-width: 767px){
    .product_sorting {
        display: block;
    }
    .product_sorting > li {
        display: block;
        margin-bottom: 15px;
    }
    .pages {
        float: none;
    }
    .showing_results {
        display: block;
        float: none;
        margin-bottom: 15px;
    }
    .product_sorting_container_bottom .product_sorting {
        float: none;
    }
    .product_sorting_container_bottom .pages {
        float: none;
    }
    .product-item {
        width: 33.333333333333%;
        height: 345px;
    }
    .product {
        height: 305px;
    }
    .benefit_col {
        margin-bottom: 15px;
    }
}

@media (max-width: 575px){
    .product-item {
        width: 50%;
        height: 420px;
    }
    .product {
        height: 380px;
    }
}

@media (max-width: 479px) {
    .product-item {
        width: 100%;
        height: auto;
    }
    .product {
        height: auto;
    }
    .product_name a {
        font-size: 12px;
    }
    .add_to_cart_button {
        margin-top: 20px;
    }
    .section_title::after {
        top: calc(100% + 8px);
        height: 3px;
    }
}