footer{
  background-color: #222;
  padding-bottom: 32px;
  padding-top: 75px;  padding-bottom: 50px;
}

.footer-categories{
  padding-bottom: 50px;
}

.footer-title{
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 30px; 
  font-weight: bold;
}

.footer-categories ul {
  margin: 0px;
  list-style-type: none;
}

.footer-categories ul li{
  padding-bottom: 10px;
}

.footer-categories ul li a{
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
  transition: all 0.4s;
}

.footer-categories ul li a:hover{
  color: red;
}

.footer-categories p{
  max-width: 270px;
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
}

.icon-group{
  padding-top: 27px;
}

.icon-group a{
  color: #b2b2b2;
  transition: all 0.4s;
  margin-right: 16px;
  font-size: 18px;
}

.form-email{
  position: relative;
  border-bottom: 2px solid rgba(204,204,204, 0.1);
  width: 100%;
  padding-bottom: 4px;
}

.form-email input{
  background-color: transparent;
  width: 100%;
  font-size: 13px;
  line-height: 1.923;
  color: #b2b2b2;
  outline: none;
  border: none;
}

.focus-input{
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #6774d5;
  left: 0;
  bottom: -2px;
  transition: all 0.4s;
}

.form-email input:focus + .focus-input {
  width: 100%;
}

.btn-sub{
    padding-top: 18px;
}

.btn-sub button{
  border-radius: 23px;
  background-color: #717fe0;
  min-width: 179px;
  height: 46px;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.4s;
  padding: 0px 15px;
  outline: none;
  border: none;
}

.copyright{
  padding-top: 40px;
}

.copyright-content{
  font-size: 13px;
  line-height: 1.923;
  color: #888;
  text-align: center;
}