<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 footer-categories">
                <h4 class="footer-title">
                    Categories
                </h4>

                <ul>
                    <li>
                        <a href="#">
                            Women
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Men
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Baby
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Shoe
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 footer-categories">
                <h4 class="footer-title">
                    Help
                </h4>

                <ul>
                    <li>
                        <a href="#">
                            Track Order
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Returns
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Shipping
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 footer-categories">
                <h4 class="footer-title">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at Ngoc My, Quoc Oai, Ha Noi or call us on
                    (+84) 359997423
                </p>

                <div class="icon-group">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 footer-categories">
                <h4 class="footer-title">
                    Newsletter
                </h4>

                <form>
                    <div class="form-email">
                        <input type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input"></div>
                    </div>

                    <div class="btn-sub">
                        <button class="btn">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="copyright">
            <p class="copyright-content">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
        </div>
    </div>
</footer>